main {
  background: linear-gradient(#1a0e30, #0C0024, #1a0e30);
  height: 100vh;
  width: 100vw;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  font-family: Inter;
}

.wrapper-haut .logo {
  margin-top: 48px;
}

/* ----------------------------- */
/*         Backgrounds           */
/* ----------------------------- */
.pattern-bg {
  position: absolute;
  width: 100%;
}

.pattern-bg.haut {
  top: 0;
}

.pattern-bg.bas {
  bottom: 0;
}

/* ----------------------------- */
/*           Cards               */
/* ----------------------------- */
.card {
  background: #0C0024;
  display: flex;
  width: 100%;
  min-width: 239px;
  padding: 16px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  height: 100%;
  max-height: 160px;
  box-shadow: 0px -4px 44px 0px rgba(69, 52, 105, 0.10) inset;
  position: relative;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 1px; 
  background:linear-gradient(180deg,#4C3182,#11032C); 
  mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
  mask-composite: exclude; 
}


.partie-inf p {
  text-align: start;
  color: #F7F6F9;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.partie-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.partie-right div {
  color: #FFF;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 142.857% */
}

.partie-right span {
  color: #807FBC;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 160% */}

.partie-left img {
  height: 32px;
  width: 32px;
  object-fit: contain;
}

.card .partie-sup {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

/* ----------------------------- */
/*          Bouton etc.          */
/* ----------------------------- */
.buttonspikes {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  color: white;
  border: 1px solid #4C3182;
  background: rgba(12, 0, 36, 0.01);
  box-shadow: 0px -4px 44px 0px rgba(69, 52, 105, 0.10) inset;
  backdrop-filter: blur(2px);
}

/* ----------------------------- */
/*       Wrapper sections        */
/* ----------------------------- */
.wrapper {
  z-index: 10;
}

.wrapper.wrapper-haut {
  height: 10vh;
}

.wrapper.wrapper-marquee {
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  gap: 60px;
 background: linear-gradient(transparent, black, transparent);
}

.wrapper.wrapper-bottom {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee {
  overflow: hidden;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
}

.cardlist {
  display: flex;
  gap: 12px;
}